body {
  --backgroundBase: var(--greyGrey900);
  --backgroundSecondary: var(--greyGrey900);
  --surfacesBaseDefault: var(--greyGrey880);
  --surfacesBaseSubtle: var(--greyGrey870);
  --surfacesBaseDimmed: var(--greyGrey865);
  --surfacesBaseMuted: var(--greyGrey860);
  --surfacesStatesPositive: var(--greenGreen800);
  --surfacesStatesPositiveBright: var(--greenGreen500);
  --surfacesStatesNegative: var(--redRed800);
  --surfacesStatesNegativeBright: var(--redRed500);
  --surfacesStatesWarning: var(--orangeOrange800);
  --surfacesStatesWarningBright: var(--orangeOrange500);
  --surfacesStatesInformational: var(--blueBlue800);
  --surfacesStatesInformationalBright: var(--blueBlue500);
  --surfacesInvertedZeroInverted: var(--whiteWhiteA1);
  --surfacesStatesNeutral: var(--greyGrey840);
  --surfacesStatesNeutralConstant: var(--greyGrey840);
  --surfacesInvertedDefaultInverted: var(--greyGrey100);
  --surfacesInvertedSubtleInverted: var(--greyGrey120);
  --typographyBasePrimary: var(--whiteWhiteA1);
  --typographyBaseSecondary: var(--greyGrey400);
  --typographyBaseTertiary: var(--greyGrey500);
  --typographyBaseDisable: var(--whiteWhiteA020);
  --typographyBaseLink: var(--blueBlue450);
  --typographyStatesPositive: var(--greenGreen350);
  --typographyStatesNegative: var(--redRed450);
  --typographyStatesWarning: var(--orangeOrange300);
  --typographyInvertedPrimaryInverted: var(--greyGrey880);
  --typographyInvertedSecondaryInverted: var(--greyGrey650);
  --typographyInvertedTertiaryInverted: var(--greyGrey400);
  --typographyInvertedDisableInverted: var(--blackBlackA032);
  --typographyInvertedLinkInverted: var(--blueBlue700);
  --typographyConstantPrimaryConstantWhite: var(--whiteWhiteA1);
  --typographyStatesInformational: var(--blueBlue300);
  --typographyConstantSecondaryConstantWhite: var(--whiteWhiteA076);
  --typographyConstantTertiaryConstantWhite: var(--whiteWhiteA060);
  --typographyConstantDisableConstantWhite: var(--whiteWhiteA040);
  --typographyConstantPrimaryConstantBlack: var(--greyGrey880);
  --typographyConstantSecondaryConstantBlack: var(--blackBlackA056);
  --typographyConstantSecondaryConstantDisable: var(--blackBlackA032);
  --typographyConstantPositiveConstant: var(--greenGreen400);
  --typographyConstantNegativeConstant: var(--redRed450);
  --uIInteractiveHiddenPrimaryDefault: var(--whiteWhiteA1);
  --uIInteractiveHiddenSwapWidgetProDefault: var(--greyGrey865);
  --uIInteractiveHiddenSwapWidgetProHover: var(--greyGrey850);
  --uIInteractiveHiddenSwapWidgetSimpleDefault: var(--greyGrey880);
  --uIInteractiveHiddenSwapWidgetSimpleHover: var(--greyGrey860);
  --uIInteractiveHiddenPrimaryHover: var(--whiteWhiteA088);
  --uIInteractiveHiddenPrimaryConstantBlack: var(--greyGrey900);
  --uIInteractiveHiddenPrimaryConstantBlackHover: var(--greyGrey840);
  --uIInteractiveHiddenSecondaryConstantBlack: var(--darkBlueDarkBlueA005);
  --uIInteractiveHiddenSecondaryConstantBlackHover: var(--darkBlueDarkBlueA008);
  --uIInteractiveHiddenPrimaryConstantWhite: var(--whiteWhiteA1);
  --uIInteractiveHiddenPrimaryConstantWhiteHover: var(--whiteWhiteA088);
  --uIInteractiveHiddenPrimaryConstantWhiteDisable: var(--whiteWhiteA012);
  --uIInteractiveHiddenSecondaryConstantWhite: var(--whiteWhiteA016);
  --uIInteractiveHiddenSecondaryConstantWhiteHover: var(--whiteWhiteA020);
  --uIInteractiveHiddenSecondaryConstantWhiteDisable: var(--whiteWhiteA006);
  --uIInteractiveHiddenCommonDefault: var(--greyGrey860);
  --uIInteractiveHiddenCommonHover: var(--greyGrey850);
  --uIInteractiveHiddenCommonDisable: var(--whiteWhiteA006);
  --uIInteractiveHiddenGhostHover: var(--greyGrey850);
  --uIInteractiveHiddenPrimaryInverted: var(--greyGrey900);
  --uIInteractiveHiddenPrimaryInvertedHover: var(--greyGrey840);
  --uIInteractiveHiddenInvertedDisable: var(--blackBlackA003);
  --uIInteractiveHiddenSecondaryInvertedDefault: var(--darkBlueDarkBlueA005);
  --uIInteractiveHiddenSecondaryInvertedHover: var(--darkBlueDarkBlueA008);
  --uIInteractiveHiddenDangerDefault: var(--redRed500);
  --uIInteractiveHiddenDangerHover: var(--redRed300);
  --uIInteractiveHiddenNetworkSeparator: var(--greyGrey900);
  --uIInteractiveHiddenNetworkSeparatorHover: var(--greyGrey850);
  --uIInteractiveHiddenSpecialDefault: var(--greyGrey880);
  --uIInteractiveHiddenSpecialHover: var(--greyGrey860);
  --uIInteractiveHiddenCheckboxCheckboxRadioBorderChecked: var(--whiteWhiteA1);
  --uIInteractiveHiddenCheckboxCheckboxRadioBorderCheckedHover: var(--whiteWhiteA088);
  --uIInteractiveHiddenCheckboxCheckboxRadioBorder: var(--greyGrey600);
  --uIInteractiveHiddenCheckboxCheckboxRadioBorderHover: var(--greyGrey500);
  --uIInteractiveHiddenCheckboxCheckboxRadioFillDisable: var(--greyGrey840);
  --uIInteractiveHiddenToggleToggleOff: var(--greyGrey600);
  --uIInteractiveHiddenToggleToggleOffHover: var(--greyGrey500);
  --uIInteractiveHiddenToggleToggleOn: var(--whiteWhiteA1);
  --uIInteractiveHiddenToggleToggleOnHover: var(--whiteWhiteA088);
  --uIInteractiveHiddenToggleThumb: var(--greyGrey900);
  --gradientPressetsHiddenBottomBarBarTop: var(--greyAlphaGrey890A0);
  --gradientPressetsHiddenBottomBarBarBottom: var(--greyGrey900);
  --borderPrimary: var(--greyGrey850);
  --borderSecondary: var(--greyGrey860);
  --borderNegative: var(--redRed300);
  --borderActive: var(--blueBlue400);
  --borderCover: var(--whiteWhiteA006);
  --chartPositive: var(--greenGreen300);
  --chartNegative: var(--redRed500);
  --gradientPressetsHiddenSkeletonSkeletonTop: var(--greyAlphaGrey600A05);
  --gradientPressetsHiddenSkeletonSkeletonBottom: var(--greyAlphaGrey600A0);
  --rainbowSunrise: #FFCC00;
  --rainbowGoldenHour: #FFA516;
  --rainbowAmber: #FF7F2D;
  --rainbowTangerine: #FF5843;
  --rainbowFlame: #FF3159;
  --rainbowCherry: #F92C7E;
  --rainbowRose: #F327A3;
  --rainbowBubblegum: #ED22C8;
  --rainbowOrchid: #E71DED;
  --rainbowMagenta: #D422EC;
  --rainbowPlum: #C227EB;
  --rainbowRoyalPurple: #AF2CE9;
  --rainbowViolet: #9C31E8;
  --rainbowIndigo: #8131E5;
  --rainbowSapphire: #6731E3;
  --rainbowAzure: #4C31E0;
  --rainbowOcean: #3131DD;
  --rainbowTeal: #2546D9;
  --rainbowCyan: #195BD6;
  --rainbowEmerald: #0C6FD2;
  --rainbowJade: #0084CE;
  --rainbowLagoon: #0D96A7;
  --rainbowMint: #1AA881;
  --rainbowMeadow: #26BA5A;
  --rainbowVerdant: #33CC33;
  --systemOverlay: var(--greyAlphaGrey870A09);
  --surfacesTransparentWhiteDefault: var(--whiteWhiteA020);
  --surfacesTransparentWhiteSubtle: var(--whiteWhiteA012);
  --surfacesTransparentBlackDefault: var(--blackBlackA009);
  --surfacesTransparentBlackSubtle: var(--blackBlackA005);
  --surfacesAdditionalBlur: var(--blackBlackA072);
  --surfacesAdditionalBlurMuted: var(--blackBlackA001);
  --surfacesAdditionalBlurMutedConstant: var(--whiteWhiteA001);
  --surfacesAdditionalMixedDefault: var(--whiteWhiteA040);
  --surfacesAdditionalMixedInfo: var(--whiteWhiteA020);
  --surfacesAdditionalModal: var(--greyGrey870);
}
